.pb-2.mt-4.mb-2
  %h2 Listing lectures

%table.table.table-hover
  %thead
    %tr
      %th Subject
      %th Began at
      %th Ended at
      %th Info

  %tbody
    - @lectures.each do |lecture|
      %tr
        %td= lecture.subject
        %td= lecture.dtstart
        %td= lecture.dtend
        %td= link_to 'Show', lecture, class: 'btn btn-primary btn-sm'
