.pb-2.mt-4.mb-2
  %h2 Listing entries

%table.table.table-hover
  %thead
    %tr
      %th Lecture
      %th Created at
      %th Info

  %tbody
    - @entries.each do |entry|
      %tr
        %td= entry.lecture&.subject || 'No lecture assigned'
        %td= entry.created_at
        %td= link_to 'Show', entry, class: 'btn btn-primary btn-sm'
